/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: Christopher Kim
   Date:   1/14/19

   Filename: cg_validate.css

*/


/* Validation Styles */

